2019-2c
linux64/.DS_Store
linux64/._.DS_Store
linux64/._run.sh
linux64/AdditionalFontData/
linux64/CoreUpdates/
linux64/CuisV5.sources
linux64/Documentation/
linux64/Packages/
linux64/run.sh
linux64/vm/

